.blogArticle__main{

}

.component{

}

.headings{

}

.cards{
    /* display: flex;
    -webkit-box-pack: justify;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.thumbnail{
    height: 217px;
    width: 318px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__heading{

}

.card__intro{

}

.card-content{

}
.img-card{
    height: 200px;
}