.myEditor{
    width: 850px;
    margin: auto;
    margin-top: 9rem;
}

.quilltextview{
    margin: auto;
    width: 850px;
    margin-top: 3rem;
}

.submitButton{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}